<h1>Rebate Management</h1>

<p><a href="/clients/new" class="button">Create a new client</a></p>
<p><a href="/offers/new" class="button">Create a new offer</a></p>
<p><a href="/transactions/new" class="button">Create a new transaction</a></p>
<!-- <p><a href="/transaction_import/upload" class="button">Upload transactions</a></p> -->
<p><a href="/rebate_export/new" class="button">Export rebates</a></p>
